<h1>Test results for <%= params[:id] %></h1>
<%= link_to "Back to Test Runs", test_runs_path %>

<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Duration</th>
      <th>Exception</th>
      <th>Passed?</th>
      <th>Environment</th>
    </tr>
  </thead>
  <tbody>
    <% @test_run_results.each do |result| %>
      <%= render "results/result", result: result %>
    <% end %>
  </tbody>
</table>
