<tr>
  <td><%= link_to feature.rspec_id, feature_results_path(feature.id) %></td>
  <td><%= feature.description %></td>
  <td style="text-align:center"><%= feature.status %></td>
  <td style="text-align:center"><%= feature.last_passed %></td>
</tr>
